
<div class="row">


<%= link_to(:controller => "posts", :action => "new", :value => 5) do %>
    <span>Singing</span>
<% end %>

<%= link_to(:controller => "posts", :action => "new", :value => 6) do %>
    <span>Dance</span>
<% end %>

<%= link_to(:controller => "posts", :action => "new", :value => 9) do %>
    <span>Photography</span>
<% end %>

<%= link_to(:controller => "literatures", :action => "new", :value => 7) do %>
    <span>Writings</span>
<% end %>

<%= link_to(:controller => "literatures", :action => "new", :value => 8) do %>
    <span>Poems</span>
<% end %>
</div>
<hr></hr>

<div class="row">
    

<% @posts.each do |post| %>
    <h3><%= link_to post.title , post %> | <%= post.category.name %></h3> 
    
    <!--like buttons-->
    
    <%= link_to like_post_path(post), method: :put, class: "like" do %>
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-thumbs-up"></span> Like
          <span class="badge"><%= post.get_upvotes.size %></span>
        </button>
        
      <% end %>
      <%= link_to unlike_post_path(post), method: :put, class: "like" do %>
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-thumbs-down"></span> Dislike
          <span class="badge"><%= post.get_downvotes.size %></span>
        </button>
      <% end %>
<% end %>  

<% @literatures.each do |post| %>
    <h3><%= link_to post.title , post %> | <%= post.category.name %></h3>
    
    <!--like buttons-->
    
    <%= link_to like_literature_path(post), method: :put, class: "like" do %>
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-thumbs-up"></span> Like
          <span class="badge"><%= post.get_upvotes.size %></span>
        </button>
        
      <% end %>
      <%= link_to unlike_literature_path(post), method: :put, class: "like" do %>
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-thumbs-down"></span> Dislike
          <span class="badge"><%= post.get_downvotes.size %></span>
        </button>
      <% end %>
<% end %>    

</div>
